*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #00FF7F;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background: #fff;
    padding: 25px;
    width: 450px;
    border-radius: 15px;
    text-align: center;
    font-size: medium;
}

#stopwatchDuration{
    font-size: 55px;
    padding: 20px;
}
.lapsButtons{
    display: flex;
    justify-content: center;
    gap: 100px;

}

.lapsButtons button{
    height: 45px;
    width: 25%;
    border-radius: 5px;
    background: 	#FF69B4;
    border: none;
    outline: none;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

#laps{
    height: 200px;
    padding: 10px;
    overflow: auto;
   font-style: italic;
}

#laps li{
    font-size: 22px;
    padding: 10px;

}

#stop{
    background:	#DC143C;
}

#reset{
    background: #C71585;
}

#lap{
    background: hotpink;
}

#start{
    background: DarkOrchid;
}
